

.styledButton {
    --padding: 0.3rem;
    --position: -6px;
    border: none;
    padding: 0.8rem 3rem;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
    border: 1px solid var(--theme-color);
    background: transparent;
    color: var(--theme-color);
}

.styledButton:last-of-type {
    margin-right: 0;
}

.styledButton::before {
    content: "";
    position: absolute;
    top: var(--position);
    right: var(--position);
    background-color: #000;
    padding: var(--padding);
    transform: rotate(45deg);
    border-bottom: 1px solid var(--theme-color);
}

.styledButton::after {
    content: "";
    position: absolute;
    bottom: var(--position);
    left: var(--position);
    background-color: #000;
    padding: var(--padding);
    transform: rotate(45deg);
    border-top: 1px solid var(--theme-color);
}

.styledButtonBG {
    background: var(--theme-color);
    color: #000
}

@media only screen and (max-width: 480px) {
    .styledButton {
        padding: 0.5rem 1.5rem;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
}