

.styledButton {
    --padding: 0.3rem;
    --position: -5px;
    border: none;
    padding: 0.8rem 3rem;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
}

.styledButton::before {
    content: "";
    position: absolute;
    top: var(--position);
    right: var(--position);
    background-color: #000;
    padding: var(--padding);
    transform: rotate(45deg);
}

.styledButton::after {
    content: "";
    position: absolute;
    bottom: var(--position);
    left: var(--position);
    background-color: #000;
    padding: var(--padding);
    transform: rotate(45deg);
}

.styledButtonBG {
    background: linear-gradient(93.77deg, #E1F484 0%, #A0B0FE 100.15%);
}