.footerContainer {
    /* border: 1px solid white; */
    text-align: center;
    padding: 8rem 0 3rem 0;
}

.footerTagLine {
    color: #E1F484;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footerLink {
    color: #fff;
    margin-right: 1rem;
    margin-top: 8rem;
    font-size: 0.8rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.imageWrapper {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
}

.imageWrapper:last-of-type {
    margin-right: 0;
}