.footerContainer {
    text-align: center;
    padding: 8rem 0 3rem 0;
}

.footerTagLine {
    color: #E1F484;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 4rem;
    padding: 0 1rem;
}

.footerLink {
    color: #fff;
    margin-right: 1rem;
    margin-top: 8rem;
    font-size: 0.8rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.imageWrapper {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
}

.imageWrapper:last-of-type {
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    .footerContainer {
        padding: 3rem 1rem;
    }

    .footerTagLine {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 480px) {
    .footerContainer {
        padding: 3rem 1rem;
    }

    .footerTagLine {
        font-size: 2rem;
    }

    .footerLink {
        margin-top: 6rem;
    }
}