/* -------Nav Styles--------- */

.nav {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
}

.navElementsContainer {
    color: #fff;
    display: flex;
}

.navElement {
    margin-right: 1rem;
    cursor: pointer;
}

.navElement:last-of-type {
    margin-right: 0;
}

.socialIcons {
    display: flex;
}

.socialBG {
    padding: 0.3rem;
    background-color: #fff;
    margin-right: 1rem;
    border-radius: 5px 0;
    padding-bottom: 0;
    cursor: pointer;
}

.socialBG:last-of-type {
    margin-right: 0;
}