.container {
    --width: 70px;
    position: relative;
    margin-right: 4rem;
    max-width: var(--width);
    min-width: 250px;
}

.container:last-of-type {
    margin-right: 0;
}

.imageWrapper {
    height: var(--width);
    width: var(--width);
    position: relative;
    margin-bottom: 1rem;
}

.container h1 {
    color: var(--theme-color);
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1rem;
}

.container p {
    color: var(--theme-color);
    margin: 0.5rem 0;
    font-weight: lighter;
}


@media only screen and (max-width: 900px) {
    .container {
        --width: 180px;
    }
}

@media only screen and (max-width: 770px) {
    .container {
        margin-right: 0;
    }

    .container p {
        font-size: 0.8rem;
    }
}
