
.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.teamMemberBG {
    padding: 1rem;
    /* background-color: #ECD6FD; */
    border-radius: 20px;
    margin-bottom: 0.8rem;
}

.teamMemeberTitle {
    color: #fff;
    font-size: 0.8rem;
    font-family: 'Space Mono', monospace;
}

.teamMemeberSubTitle {
    color: #fff;
    font-size: 0.8rem;
    font-family: 'Space Mono', monospace;
}

.imageWrapper {
    --width: 130px;
    width: var(--width);
    height: var(--width);
    position: relative;
}


@media only screen and (max-width: 900px) {
    .imageWrapper {
        --width: 100px;
    }
}


@media only screen and (max-width: 768px) {
    .teamMemberBG {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
    }
}
