.container {
  padding: 0;
}

/* -------Common------- */
.flex {
  display: flex;
  justify-content: center;
}

/* -------Nav Styles--------- */

.nav {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
}

.navElementsContainer {
  color: #fff;
  display: flex;
}

.navElement {
  margin-right: 1rem;
  cursor: pointer;
}

.navElement:last-of-type {
  margin-right: 0;
}

.socialIcons {
  display: flex;
}

.socialBG {
  padding: 0.3rem;
  background-color: #fff;
  margin-right: 1rem;
  border-radius: 5px 0;
  padding-bottom: 0;
  cursor: pointer;
}

.socialBG:last-of-type {
  margin-right: 0;
}

/* -------Hero Section styles------- */

@font-face {
  font-family: "NeueMachinaRegular";
  src: url("../assets/fonts/NeueMachina-Regular.otf");
}

@font-face {
  font-family: "NeueMachinaBold";
  src: url("../assets/fonts/NeueMachina-Ultrabold.otf");
}

.heroContainer {
  padding: 8rem 0;
  text-align: center;
}

.heading {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  font-family: "NeueMachinaBold";
}

.subHeading {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "NeueMachinaRegular";
  letter-spacing: 10px;
  margin-bottom: 4rem;
}

.cardContainer {
  margin-top: 5rem;
}

/* -------Story Section-------*/

.storyContainer {
  text-align: center;
}

.firstPara {
  font-size: 1.5rem;
  color: #A0B0FE;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.secondPara {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 4rem;
}

.storyContainer video {
  margin: 8rem 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

/* -------Team Styles------- */
.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.teamHeading {
  color: #E1F484;
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  margin-bottom: 2rem;
}

.teamSubHeading {
  color: #efefef;
  font-size: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 400;
  
}

.teamMembersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  margin-bottom: 4rem;
}


/* -------Footer Styles------- */

.footerContainer {
  /* border: 1px solid white; */
  text-align: center;
  padding: 8rem 0 3rem 0;
}

.footerTagLine {
  color: #E1F484;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footerLink {
  color: #fff;
  margin-right: 1rem;
  margin-top: 8rem;
  font-size: 0.8rem;
}